<div class="comment">
  {{#each post.comments as |comment|}}
    <h4>{{comment.author}}</h4>
    <p>{{comment.body}}</p>
    <button {{action 'updateComment'}}>Edit</button>
    <button {{action 'deleteComment' comment}}>Delete Comment</button>
  {{/each}}
</div>
