body {
  background-color: lightblue;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

.jumbotron {
  background-image: url("https://static.pexels.com/photos/397/italian-landscape-mountains-nature.jpg");
  margin: 0;

}

.btn-danger {
  margin-bottom: 10px;
}

.comment {
  border: 2px solid black;
  margin: 15px;
  padding: 10px;
  background-color: lightslategrey;
}
