<div class="row">

  <div class="col-md-7">
      {{#each model as |post|}}
        {{post-tile post=post}}
      {{/each}}
  </div>

  <div class="col-md-5">
    {{new-post savePost="savePost"}}
  </div>


</div>
